*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            color: #333;
        
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        h1 {
            font-size: 50px;
            margin: 20px;
        }
      
        textarea {
            margin-top: 10px;
            width: 100%;
            height: 200px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 4px 4px 10px rgb(4, 87, 41,.6),-4px -4px 10px rgb(4, 87, 41,.6); 
           
    
        }
        .send {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
        }